<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./login.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css"/>
    <link rel="stylesheet" href="../layout.css">
    <script src="../layout.js" type="module"></script>
    <title>HOLO</title>
</head>
<body>
<div class="container text-center">
    <form id="loginFormWrapper" class="d-inline-block w-25">
        <h1 class="fs-4 mt-5 py-5" id="loginTitle">로그인</h1>
        <label for="inputId" class="visually-hidden">id</label>
        <input type="text" class="form-control mb-2" id="inputId" placeholder="아이디를 입력해주세요">
        <label for="inputPassword" class="visually-hidden">password</label>
        <input type="password" class="form-control mb-4" id="inputPassword" placeholder="비밀번호를 입력해주세요">
        <button class="col-12 btn btn-success mb-2 disabled" id="loginButton">로그인</button>
        <button class="col-12 btn btn-outline-secondary mb-2" id="registerButton">회원가입</button>
    </form>
</div>
<script src="login.js" type="module"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>
</html>
