html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F1EFE7;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #000;
}

/* header */


.top-header .header-logo {
  flex: 1;
  font-size: 2rem;
}

.top-header .header-menu ul {
  display: flex;
  flex-direction: row;
}

.top-header .header-menu ul li {
  margin: 0 15px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-top: #000  1px;
  border-bottom: #263A29 solid 1px;
  height: 50px;
}

.navbar .navbar-list {
  display: flex;
}

.navbar .navbar-list li {
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 50px 0 50px;
}

.navbar a:hover {
  color: var(--bs-green);
}

.navbar .category-menu {
  position: absolute;
  left: 5%;
  cursor: pointer;
}

.navbar .category-menu:hover {
  color: var(--bs-green);
}

.navbar .category-menu p {
  margin-left: 0.3rem;
}

.navbar .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: var(--bs-dropdown-spacer);
  top: 100%;
  left: 0;
}

.dropdown-toggle {
  display: flex;
}

.dropdown-toggle::after {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar .category-menu {
    position: relative;
    left: 0;
  }
}

/* footer */
.footer {
  margin-top: auto;
  width: 100%;
  background-color: #F1EFE7;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 11px;
}

.footer-info {
  text-align: center;
}

.footer-menu {
  margin-bottom: 20px;
  font-size: 12.8px;
}

.footer-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-menu li {
  margin-right: 20px;
}

.footer-menu li:last-child {
  margin-right: 0;
}

.footer-info p {
  margin: 0;
}

/* 윤주가 손 댄 CSS */

img#logo {
  margin-left: 6%;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  margin-right: 6%;
}

.dropdown-item{
  font-weight: 500;
}

.card-img, .card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  object-fit: contain;
  
}

.card{
  background-color: transparent;
  border: none;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.text-start.fs-4 {
  color: #263A29;
  -webkit-animation:blink 1.2s ease-in-out infinite alternate;
  -moz-animation:blink 1.2s ease-in-out infinite alternate;
  animation:blink 1.2s ease-in-out infinite alternate;
}

@-webkit-keyframes blink{
  0% {opacity:0;}
  100% {opacity:1;}
}
@-moz-keyframes blink{
  0% {opacity:0;}
  100% {opacity:1;}
}
@keyframes blink{
  0% {opacity:0;}
  100% {opacity:1;}
}


/* order-completed */


.d-inline-block.border {
  border:none !important;  
}

.d-flex.flex-column.align-items-center.text-center {
  box-sizing: content-box !important;
}

.fs-5 {
  font-size: 1rem!important;
}


.col-4 {
  width: 50%;
}

.py-3 {
  padding-top: 2.5rem!important;
}

.my-3 {
  margin-bottom: 3.5rem!important;
}

.css-qaxuc4 {
  display: block;
  padding: 0px 10px;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 43px;
  border-radius: 3px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  background-color: #263A29;
  border: 0px none;
}

.css-hxorrg {
  display: block;
  padding: 0px 10px;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 43px;
  border-radius: 3px;
  font-weight: 500;
  color: #263A29;
  background-color: #F1EFE7;
  border: 1px solid #263A29;
}

.fs-3 {
    font-weight: 600;
    font-size: 1.35rem!important;
}

h2.text-start.fs-3.mt-5 {
  font-weight: 500;
  font-size: 1.25rem!important;
  color: #000;
  animation:blink 2s ease-in-out alternate;
}


@-webkit-keyframes blink{
  0% {opacity:0;}
  100% {opacity:1;}
}
@-moz-keyframes blink{
  0% {opacity:0;}
  100% {opacity:1;}
}
@keyframes blink{
  0% {opacity:0;}
  100% {opacity:1;}
}


