<!doctype html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css"/>
    <link rel="stylesheet" href="../layout.css">
    <script src="../layout.js" type="module"></script>
    <script src="home.js" type="module" defer></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
    </style>
     <link rel="shortcut icon" href="../images/holo_logo_fav.png" type="image/x-icon">
     <link rel="icon" href="../images/holo_logo_fav.png" type="image/x-icon">
    <title>HOLO</title>
</head>
<body>
<div class="container text-center">
    <div id="myCarousel" class="carousel slide my-5" data-bs-ride="carousel">
        <!-- 인디케이터 -->
        <ol class="carousel-indicators">
            <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
        </ol>
        <!-- 슬라이드 -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="/product/?productId=644bca4a7f9dca885bebed68"><img src="../images/배너1.jpg" alt="Slide 1"></a>
            </div>
            <div class="carousel-item">
                <a href="product/?productId=644ad9628a5b22d9884b4131"><img src="../images/배너2.jpg" alt="Slide 2"></a>
            </div>
            <div class="carousel-item">
                <a href="productList/?categoryId=정육계란"><img src="../images/배너3.jpg" alt="Slide 3"></a>
            </div>
        </div>
        <!-- 좌우 컨트롤 -->
        <a class="carousel-control-prev mx-5" href="#myCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next mx-5" href="#myCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
    <section class="d-inline-block col-xl-10">
        <h2 class="text-start fs-4">인기상품</h2>
        <ul id="hotItems" class="row">
            <li class="card col-md-3 col-6 pt-2">
                <img src="../images/product.jpg" class="card-img-top" alt="토마토">
                <div class="card-body">
                    <h5 class="card-title">토마토</h5>
                    <p class="card-text">8,000원</p>
                </div>
            </li>
            <li class="card col-md-3 col-6 pt-2">
                <img src="../images/product.jpg" class="card-img-top" alt="토마토">
                <div class="card-body">
                    <h5 class="card-title">토마토</h5>
                    <p class="card-text">8,000원</p>
                </div>
            </li>
            <li class="card col-md-3 col-6 pt-2">
                <img src="../images/product.jpg" class="card-img-top" alt="토마토">
                <div class="card-body">
                    <h5 class="card-title">토마토</h5>
                    <p class="card-text">8,000원</p>
                </div>
            </li>
            <li class="card col-md-3 col-6 pt-2">
                <img src="../images/product.jpg" class="card-img-top" alt="토마토">
                <div class="card-body">
                    <h5 class="card-title">토마토</h5>
                    <p class="card-text">8,000원</p>
                </div>
            </li>
        </ul>
    </section>
    <section class="d-inline-block col-xl-10">
        <h2 class="text-start fs-4 mt-5">할인상품</h2>
        <ul id="discountItems" class="row mb-5">
            <li class="card col-md-3 col-6 pt-2">
                <img src="../images/product.jpg" class="card-img-top" alt="토마토">
                <div class="card-body">
                    <h5 class="card-title">토마토</h5>
                    <p class="card-text">8,000원</p>
                </div>
            </li>
            <li class="card col-md-3 col-6 pt-2">
                <img src="../images/product.jpg" class="card-img-top" alt="토마토">
                <div class="card-body">
                    <h5 class="card-title">토마토</h5>
                    <p class="card-text">8,000원</p>
                </div>
            </li>
            <li class="card col-md-3 col-6 pt-2">
                <img src="../images/product.jpg" class="card-img-top" alt="토마토">
                <div class="card-body">
                    <h5 class="card-title">토마토</h5>
                    <p class="card-text">8,000원</p>
                </div>
            </li>
            <li class="card col-md-3 col-6 pt-2">
                <img src="../images/product.jpg" class="card-img-top" alt="토마토">
                <div class="card-body">
                    <h5 class="card-title">토마토</h5>
                    <p class="card-text">8,000원</p>
                </div>
            </li>
        </ul>
    </section>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>
</html>
