.carousel-control-prev, .carousel-control-next {
    margin-right: 5%;
    margin-left: 5%;
}
#myCarousel {
    margin-top: 3%;
    margin-bottom: 3%;
}
h2 {
    text-align: left;
}
#home-hot-items, #home-discount-items {
    margin-bottom: 5%;
}
.card {
    padding-top: 0.75rem;
}