<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css"/>
    <link rel="stylesheet" href="../layout.css">
    <script src="../layout.js" type="module"></script>
    <script src="order-completed.js" type="module" defer></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <title>HOLO</title>
</head>
<body>
<div class="container text-center">
    <main class="d-inline-block border border-dark col-8 mt-5 px-5">
        <h1 class="fs-3 pt-4">주문이 완료되었습니다!</h1>
        <div class="fs-3" id="orderId"></div>
        <div class="text-start my-3 px-3">
            <h2 class="fs-5" id="orderList">주문내역</h2>
<!--            <div class="row border border-dark my-2">-->
<!--                <div class="col-3 my-2">-->
<!--                    <img src=".." alt="..">-->
<!--                </div>-->
<!--                <div class="col-9">-->
<!--                    <div class="fs-4 my-2">상품명</div>-->
<!--                    <div class="mb-5">2000원/3개</div>-->
<!--                    <div class="d-flex my-2">-->
<!--                        <div class="ms-auto me-3">총 6000원</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="text-end">-->
<!--                <div class="fs-5">외 5개</div>-->
<!--            </div>-->
            <div class="row pt-3" id="shippingPrice">
                <div class="col-3 fs-5">배송비</div>
                <div class="col-9 fs-5">3000 원</div>
            </div>
            <div class="row my-3">
                <div class="col-3 fs-5">총 결제금액</div>
                <div class="col-9 fs-5" id="totalPrice">error!</div>
            </div>
           
        </div>
        <div class="d-flex flex-column align-items-center text-center">
            <div class="col-4 mb-2">
                <a href="/"><button class="css-qaxuc4">쇼핑 계속하기</button></a>
            </div>
            <!-- <div class="col-4 mb-2">
                <button class="css-hxorrg">주문 상세보기</button>
            </div> -->
        </div>
    </main>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>
</html>
