.box {
  height: 600px;
  background-color: #ccc;
  border: 1px solid black;
  overflow: scroll;
}

.box::-webkit-scrollbar {
  display: none;
}
.box2 {
  height: 45px;
}

.row {
  margin: 20px 0 20px 0;
  align-items: center;
}

.itemInfoRow {
  margin: 20px 0 20px 0;
  align-items: center;
}

.row {
  margin: 20px 0 20px 0;
  align-items: center;
}

.form-check {
  text-align: center;
}

.col {
  text-align: center;
}

.d-grid .gap-2 {
  text-align: left;
}
